body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#contenedor-carrito {
    margin-top: 10px;

}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#contenedor-productos{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
    flex-wrap: wrap;
}

.producto {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 15px;
    margin: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagen-producto {
    width: 100%; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 200px; /* Tamaño máximo de la imagen */
    display: block;
    margin: 0 auto 10px auto; /* Centra la imagen y agrega espacio inferior */
}

.producto h3 {
    margin-bottom: 10px;
}

.producto p {
    margin: 5px 0;
}

.producto input {
    width: 50px;
    text-align: center;
}

.producto button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
}

.producto button:hover {
    background-color: #555;
}
